.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh
}

.plusMinus {
     display: flex;
     align-items: center;
     justify-content: space-between;
     border: 2px solid black;
     border-radius: 5px;
     height: 25px;
     width: 75px;
     margin: 5px
}

.searchBar {
     display: flex;
     /* flex-direction: column; */
     align-items: center;
     justify-content: center;
}

.button {
     /* margin: 10px; */
     background-color: transparent;
     border: none;
     height: 100%;
     width: 100%;
     font-size: 20px;
}
